<mat-toolbar style="width: 100%;" class="background-primary-dark">
    <span class="text-floral-white">WALLET</span>
    <span class="flex-spacer"></span>
    <span class="text-floral-white">{{username}}</span>
    <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #toolbarMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span> Profile</span>
        </button>
        <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <!-- <i class="fa fa-sign-out-alt"></i> -->
            <span> Sign out</span>
        </button>
    </mat-menu>
</mat-toolbar>
<div style="width: 100%; height: 100%;" class="overflow" fxLayout="column" fxLayoutAlign="top center">
    <div *ngIf="user" style="width: 95%;" fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="10px">
        <mat-card style="width: 100%;">
            <mat-card-title>
                <h3 align="center">Personal Details</h3>
            </mat-card-title>
    
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                SSN
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to edit SSN
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>SSN</mat-label>
                            <input matInput type="text" value="{{user.SSN}}" (keypress)="numberOnly($event)" placeholder="Only Numbers are allowed" [(ngModel)]="SSN" [formControl]="ssnControl" [errorStateMatcher]="matcher" minlength="9" maxlength="9" pattern="[0-9]*">
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditSSN === false" (click)="editSSN()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditSSN === true" (click)="saveSSN()">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditSSN === true" (click)="cancelSSN()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="ssnControl.hasError('minlength')">
                                Kindly enter 9 digit SSN.
                            </mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Name
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to edit Name
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style="width: 100%" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" value="{{user.Name}}" [(ngModel)]="Name" [formControl]="nameControl" [errorStateMatcher]="matcher" minlength="3" maxlength="30">
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditName === false" (click)="editName()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditName === true" (click)="saveName()">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditName === true" (click)="cancelName()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="nameControl.hasError('minlength')">
                                Minimum characters for Name should be 3.
                            </mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Password
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to edit Password
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" value="{{user.Password}}" [(ngModel)]="Password" [formControl]="passwordControl" [errorStateMatcher]="matcher" minlength="3" maxlength="20">
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPassword === false" (click)="editPassword()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPassword === true" (click)="savePassword()">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPassword === true" (click)="cancelPassword()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordControl.hasError('minlength')">
                                Minimum characters for Password should be 3.
                            </mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Phone Number
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to edit Phone Number
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="text" value="{{user.PhoneNo}}" (keypress)="numberOnly($event)" placeholder="Only Numbers are allowed" [(ngModel)]="PhoneNo" [formControl]="phoneControl" [errorStateMatcher]="matcher" minlength="10" maxlength="10" pattern="[0-9]*">
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPhoneNo === false" (click)="editPhoneNo()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPhoneNo === true" (click)="savePhoneNo()">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-button mat-icon-button matSuffix *ngIf="isEditPhoneNo === true" (click)="cancelPhoneNo()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="phoneControl.hasError('minlength')">
                                Phone Number must be of 10 digits.
                            </mat-error>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Email ID
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to edit Email Id
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <mat-form-field *ngIf="emailIds.length > 0" style="width: 100%;" appearance="outline">
                                <mat-label>Select EmailID</mat-label>
                                <mat-select (selectionChange)="onEmailIdSelect($event.value)">
                                    <mat-option *ngFor="let emailid of emailIds" [value]="emailid">
                                        {{emailid.EmailAdd}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="showEmailEditPanel === true" style="width: 100%;">
                            
                                <mat-form-field style="width: 85%;" appearance="outline">
                                    <mat-label>Edit/Delete Email</mat-label>
                                    <input matInput type="email" value="{{emailInterface.EmailAdd}}" [(ngModel)]="email" [formControl]="emailControl" [errorStateMatcher]="matcher">
                                    <div matSuffix fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px">
                                        <button mat-button mat-icon-button *ngIf="isEditEmail === false" (click)="editEmail()">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-button mat-icon-button *ngIf="isEditEmail === false" (click)="deleteEmail()">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-button mat-icon-button *ngIf="isEditEmail === true" (click)="saveEmail()">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                        <button mat-button mat-icon-button *ngIf="isEditEmail === true" (click)="cancelEmail()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <mat-error *ngIf="emailControl.hasError('pattern')">
                                        Kindly enter valid email id.
                                    </mat-error>
                                </mat-form-field>

                                <mat-checkbox style="width: 15%;" [checked]="emailChecked" [disabled]="emailCbDisabled" [(ngModel)]="emailCbValue" (change)="onClickVerify()">
                                    Verified
                                </mat-checkbox>
                            </div>

                            

                            <mat-form-field *ngIf="emailIds.length < 3" style="width: 100%;" appearance="outline">
                                <mat-label>Add New Email ID</mat-label>
                                <input type="email" #emailAddID matInput [(ngModel)]="emailAdd" [formControl]="emailAddControl" [errorStateMatcher]="matcher">
                                <button mat-button matSuffix mat-icon-button *ngIf="emailAddID.value.length > 3" (click)="saveEmailAdd()">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <mat-error *ngIf="emailAddControl.hasError('pattern')">
                                    Kindly enter valid email id.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-card-content>
        </mat-card>

        <mat-card style="width: 100%;">
            <mat-card-title>
                <h3 align="center">Bank Details</h3>
            </mat-card-title>
    
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Primary Bank Account
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to add/view Primary Bank
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" style="width: 100%;">
                            <mat-form-field style="width: 100%;" appearance="outline" *ngIf="user.BANumber === null">
                                <mat-label>Select Bank</mat-label>
                                <mat-select [(ngModel)]="selectedBank">
                                    <mat-option *ngFor="let bank of bankList" [value]="bank">
                                        {{bank.BankName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                                <mat-form-field style="width:85%" appearance="outline">
                                    <mat-label>Enter Account Number</mat-label>
                                    <input matInput value="{{user.BANumber}}" [disabled]="user.BANumber !== null" [(ngModel)]="BankAccNo" (keypress)="numberOnly($event)" maxlength="10">
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px" matSuffix>
                                        <button mat-button mat-icon-button type="button" [disabled]="selectedBank === null" (click)="addPBA()" *ngIf="user.BANumber === null">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                        <button mat-button mat-icon-button type="button" (click)="deletePBA()" *ngIf="user.BANumber !== null">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </mat-form-field>

                                <mat-checkbox *ngIf="user.BANumber !== null" style="width: 15%;" [disabled]="PBACbDisabled" [(ngModel)]="PBACbValue" (change)="PBAonClickVerify()">
                                    Verified
                                </mat-checkbox>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Secondary Bank Account
                            </mat-panel-title>
                            <mat-panel-description>
                                Click here to add/view Secondary Bank
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" style="width: 100%;">
                            <div style="width: 100%;" *ngIf="user.AddBankAccs.length > 0">
                                
                                <div style="width: 100%;" *ngFor="let bank of user.AddBankAccs" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2px">
                                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                                        <span><strong>Bank Name: </strong> {{bank.BankName}}</span>
                                        <span class="flex-spacer"></span>
                                        <button mat-button mat-icon-button type="button" (click)="deleteSBA(bank)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>

                                    <span><strong>Account Number: </strong> {{bank.BANumber}}</span>

                                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="center center">
                                        <span><strong>Verified: </strong><span *ngIf="bank.Verified === 0 || bank.Verified === false">No</span><span *ngIf="bank.Verified === 1 || bank.Verified === true">Yes</span></span>
                                        <span class="flex-spacer"></span>
                                        <button *ngIf="bank.Verified === 0 || bank.Verified === false" mat-button type="button" (click)="verifySBA(bank)">
                                            <span>Verify</span>
                                        </button>
                                    </div>

                                    <hr>
                                </div>
                                
                            </div>

                            <mat-form-field *ngIf="user.AddBankAccs.length < 3" style="width: 100%;" appearance="outline">
                                <mat-label>Select Bank</mat-label>
                                <mat-select [(ngModel)]="selectedSecondaryBank">
                                    <mat-option *ngFor="let bank of bankList" [value]="bank">
                                        {{bank.BankName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="user.AddBankAccs.length < 3" style="width: 100%;" appearance="outline">
                                <mat-label>Enter Account Number</mat-label>
                                <input matInput [(ngModel)]="SecondaryBankAccNo" (keypress)="numberOnly($event)" maxlength="10">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px" matSuffix>
                                    <button mat-button mat-icon-button type="button" [disabled]="selectedSecondaryBank === null" (click)="addSBA()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                </div>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
